<!-- Gives entire background attributes of bg ID for easy content styling within-->
{{!--
<div id="bg"> --}}

    <!-- Nav Menu -->
    <header id="headerWrapper">
        <img src="assets/images/temp_logo.png" id="logo" alt="logoimg" class="center">
    </header>
    <div class='container-fluid'>
        <nav>
            <div class='navLinks'>
                <a href="index.html" class="icon text-center active">Home
                    <i class="fa fa-home"></i>
                </a>
                <a href="index.html" class="icon text-center">Wizard
                    <i class="fa fa-coffee"></i>
                </a>
                <a href="index.html" class="icon text-center">Contact
                    <i class="fa fa-comment"></i>
                </a>
            </div>
        </nav>
    </div>
    <div class='content'>
        <main>
            <section id="card">
                <h2>
                    Welcome to the Cocktail Wizard
                </h2>
                <p class="cardData">
                    <b class='fa fa-list'> What kind of ingredients do you have?</b>
                </p>
                <p class="cardData">
                    <b class='fa fa-lemon-o'></b>
                    Tell us and we'll mix you a drink!
                </p>
                <p class="cardData">
                    <b class='fa fa-magic'></b>
                    Just wait for the magic..
                </p>
            </section>
            <section id="primary">
                <h1>Create your drink by adding ingredients below!</h1>
                <div class="form-group">
                    <div id="ingredients-menu">
                        <input class="typeahead form-control" type="text" placeholder="Add ingredient">
                    </div>
                </div>
            </section>
        </main>
        <!-- Content area end -->
        <div id="results-display">
            <div class="row">
                <div class="col-sm-6 ingredient-list">
                    <p>This is where content will go for ingredients</p>
                </div>
                <div class="col-sm-6">
                    <p>This is where content will go for potential recipes</p>
                </div>
            </div>
        </div>
        <!--Results Form End div-->

    </div>
    <!-- Footer Links -->
    <footer>
        <div class="footer">Created by
            <b>House Lannister</b>
        </div>
    </footer>
    {{!--
</div> --}}