body,
html {
  height: 100%;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

body {
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  background-color: #083643;
}

body .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body .navLinks {
  margin-top: -20px;
  width: 100%;
  text-align: center;
  padding-left: 0px;
}

body .navLinks a {
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin-top: 1.3em;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  -webkit-animation: bounceIn 3s;
          animation: bounceIn 3s;
  font-family: "Cormorant Garamond", serif;
}

.content {
  background-color: #B8ECD7;
}

.cardData {
  text-align: left;
}

@media (min-width: 840px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card";
  }
}

@media (min-width: 661px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card";
  }
}

@media (max-width: 660px) {
  main {
    padding-top: 20px;
        grid-template-areas: "primary card";
  }
}

main section#card {
  background: whitesmoke;
  color: #083643;
  margin: 0.7em auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 80%;
  padding: 10px;
}

main section#card h2 {
  margin: .6em auto;
  text-align: center;
  margin-bottom: 0;
  -webkit-animation: bounceIn 3s;
          animation: bounceIn 3s;
  font-size: 1.5em;
  color: whitesmoke;
}

main section#card p {
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
}

main section#card p.cardData {
  font-style: initial;
}

@media (min-width: 840px) {
  main section#card {
    grid-area: card;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1em;
  }
}

@media (min-width: 661px) {
  main section#card {
    grid-area: card;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1em auto;
  }
}

@media (max-width: 660px) {
  main section#card {
    grid-area: card;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1em auto;
  }
}

main #card-Ingredients {
  padding: 20px;
}

section#primary {
  color: black;
  padding: 15px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

@media (min-width: 840px) {
  section#primary {
    grid-area: primary;
    margin: 4em 0 0 4em;
  }
}

section#primary h3 {
  font-size: 1.3em;
  font-family: "Cormorant Garamond", serif;
}

@media (min-width: 840px) {
  section#primary h3 {
    font-size: 2em;
  }
}

@media (min-width: 661px) {
  section#primary h3 {
    font-size: 1.5em;
  }
}

@media (max-width: 660px) {
  section#primary h3 {
    font-size: 1.2em;
  }
}

section#primary p {
  font-size: 1.4em;
  font-family: "Cormorant Garamond", serif;
}

section#primary a {
  color: #2e043f;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #2e043f;
  display: block;
  margin: 50px auto 0 auto;
  padding: 15px;
  font-family: "Cormorant Garamond", serif;
}

@media (min-width: 840px) {
  section#primary a {
    display: inline-block;
    padding: 15px 60px;
  }
}

@media (min-width: 661px) {
  section#primary a {
    display: inline-block;
    padding: 15px 60px;
  }
}

@media (max-width: 660px) {
  section#primary a {
    display: inline-block;
    padding: 15px;
  }
}

footer {
  text-align: center;
  color: whitesmoke;
  font-size: 1.2em;
  text-shadow: #333;
  background-color: #2e043f;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
}

.cardContainer {
  color: #083643;
  font-size: 18px;
}

.cardContainer .col-sm-5 {
  margin: 1.5em auto;
}

.card {
  background-color: whitesmoke;
  color: #083643;
  border: 1px solid #B1E001;
}

.card-header {
  background-color: #B1E001;
  color: #083643;
}

/* Header Animation */
@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*root typeahead class*/
.twitter-typeahead {
  display: inherit;
  width: 50%;
}

.twitter-typeahead .tt-input[disabled] {
  background-color: #eeeeee !important;
}

/*Added to input that's initialized into a typeahead*/
/*Added to hint input.*/
/*Added to menu element*/
.twitter-typeahead .tt-menu {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 12px 14px 30px -7px #616161;
  box-shadow: 12px 14px 30px -7px #616161;
}

/*Added to dataset elements*/
/*dded to suggestion elements*/
.twitter-typeahead .tt-suggestion {
  padding: 3px 20px;
  white-space: nowrap;
}

/*Added to menu element when it contains no content*/
.twitter-typeahead .tt-empty {
  background-color: white;
}

/*Added to menu element when it is opened*/
.twitter-typeahead .tt-open {
  background-color: white;
}

/*Added to suggestion element when menu cursor moves to said suggestion*/
.twitter-typeahead .tt-suggestion:hover,
.twitter-typeahead .tt-suggestion:focus,
.twitter-typeahead .tt-cursor {
  cursor: hand !important;
  background-color: #337ab7;
  color: white;
}

/*Added to the element that wraps highlighted text*/
#add-drink-content {
  background-color: whitesmoke;
  max-width: 80%;
  margin: 25px auto;
  padding: 5px;
}

label {
  margin-top: 12px;
}

button {
  margin-bottom: 12px;
  margin-top: 6px;
}
/*# sourceMappingURL=main.css.map */